AUTH_DATABASE_URL=jdbc:
AUTH_DATABASE_USER=
AUTH_DATABASE_PASSWORD=

CLIENTE_DATABASE_URL=jdbc:
CLIENTE_DATABASE_USER=
CLIENTE_DATABASE_PASSWORD=

CONTA_DATABASE_URL=jdbc:
CONTA_DATABASE_USER=
CONTA_DATABASE_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION=

EUREKA_URL=http://eureka-server:8761/eureka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

